RewriteEngine On
RewriteCond %{REQUEST_URI} ^/demos/0.1/moobile-simulator/.*$
RewriteCond %{HTTP_USER_AGENT} "android|blackberry|ipad|iphone|ipod|iemobile|opera mobile|palmos|webos|googlebot-mobile" [NC]
RewriteRule ^(.*)$ /demos/0.1/www/ [L,R=302]